Backend/Backend/__pycache__/settings.cpython-311.pyc
Backend/Backend/__pycache__/settings.cpython-311.pyc
Backend/Backend/__pycache__/settings.cpython-311.pyc
Backend/db.sqlite3
Backend/Backend/__pycache__/settings.cpython-311.pyc
Backend/comercio/apis/__pycache__/carrito_viewset.cpython-311.pyc
Backend/comercio/apis/__pycache__/carrito_viewset.cpython-311.pyc
Backend/db.sqlite3
